{% extends "base.html" %} {% block title %} Quest Homepage {% endblock %} {%
block head %} {% endblock %} {% block body %}
<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col"></div>
    <div class="col-10">
      <ul class="question-ul">
        <li>
          <div class="side-question">
            <img
              class="side-question-avatar"
              src="./static/images/avatar.jpg"
              alt=""
            />
          </div>

          <div class="question-main">
            <div class="question-title">
              <a href="#">How was Iron Man Made?</a>
            </div>
            <div class="question-content">
              The legendary journey of Iron Man
            </div>
            <div class="question-detail">
              <span class="question-author">Tony Stark</span>
              <span class="question-time">December 1, 2022</span>
            </div>
          </div>
        </li>

        <li>
          <div class="side-question">
            <img
              class="side-question-avatar"
              src="./static/images/avatar.jpg"
              alt=""
            />
          </div>

          <div class="question-main">
            <div class="question-title">
              <a href="#">Captain America's True Origin</a>
            </div>
            <div class="question-content">The tale of the first Avenger</div>
            <div class="question-detail">
              <span class="question-author">Steve Rogers</span>
              <span class="question-time">November 25, 2022</span>
            </div>
          </div>
        </li>

        <li>
          <div class="side-question">
            <img
              class="side-question-avatar"
              src="./static/images/avatar.jpg"
              alt=""
            />
          </div>

          <div class="question-main">
            <div class="question-title">
              <a href="#">The Mysteries of Thor's Hammer</a>
            </div>
            <div class="question-content">
              Understanding the might of Mjolnir
            </div>
            <div class="question-detail">
              <span class="question-author">Thor Odinson</span>
              <span class="question-time">November 20, 2022</span>
            </div>
          </div>
        </li>

        <li>
          <div class="side-question">
            <img
              class="side-question-avatar"
              src="./static/images/avatar.jpg"
              alt=""
            />
          </div>

          <div class="question-main">
            <div class="question-title">
              <a href="#">The Secrets of the Infinity Stones</a>
            </div>
            <div class="question-content">
              The power of the six Infinity Stones
            </div>
            <div class="question-detail">
              <span class="question-author">Thanos</span>
              <span class="question-time">November 15, 2022</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col"></div>
  </div>
</div>
{% endblock %}
